.bg-color{
    background-color: #CAEB66;
}
.btn-outline {
  &:not(.btn-active, :hover, :active:focus, :focus-visible, :disabled, [disabled], .btn-disabled, :checked) {
    --btn-shadow: "";
    --btn: #0000;
    --btn-fg: var(--btn-color);
    --btn-border: var(--btn-color);
    --btn-noise: none;
  }
  &:hover {
    --btn-bg: #CAEB66;
    --btn-fg: #000;
    --btn-border: #CAEB66;
  }
}
.navbar-radius{
    border-radius: 10px;
}